body {
  margin: 0;
}

.container {
  pointer-events: none;
}

#equations {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FBF7F5;     /* chalk white */
  font-size: 36px;
  width: 300px;
  z-index: 1;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#gui-container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index:10;
  pointer-events: auto; /* otherwise inherits as none from container */
}
